* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  background-color: #ebf2f5;
}

body,
input,
button,
textarea {
  font: 600 18px Nunito, sans-serif;
}

button.confirm-button#list-all-employees {
  margin-top: 64px;

  width: 100%;
  height: 64px;
  border: 0;
  cursor: pointer;
  background: #3030a1;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

button.confirm-button svg {
  margin-right: 16px;
}

button.confirm-button:hover {
  background: #0aa8ad;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.role-button {
  background: #3030a1;
  border: 1px solid #fff9ed;
  color: #fff9ed;
  border-radius: 20px;
  padding: 10px;
  padding-right: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  transition: background-color 0.2s;
}

.role-button#edit-button:hover {
  background: #f36f47;
}

.role-button#delete-button:hover {
  background: #ff669d;
}

.role-button#details-button:hover {
  background: #66ff85;
}

#role-button-icon {
  margin-top: 2px;
  margin: 2px;
  margin-right: 5px;
  margin-left: 5px;
}

p {
  font-size: 32px;
  line-height: 34px;
  color: #5c8599;
  font-weight: 700;
}
